body {
    background-color: #EFFBFF;
    font-family: Inter, sans-serif;
}

.header, .footer {
    background-color: white;
    padding: 10px 10px; /* Отступы для кнопок */
}

.nav-link {
    display: inline-block; /* Чтобы добавить отступы */
    padding: 10px 15px; /* Отступы для кнопок */
    background-color: #F7F7F7; /* Цвет фона кнопок */
    border-radius: 20px; /* Овальная форма */
    color: #000000; /* Цвет текста */
    text-decoration: none;
    transition: background-color 0.3s; /* Плавный переход */
    width: 150px; /* Фиксированная ширина */
    text-align: center; /* Центрирование текста */
    font-weight: bold; /* Делаем шрифт жирным */
}

.nav-link:hover {
    background-color: #e0e0e0; /* Цвет при наведении */
    text-decoration: none; /* Убрать подчеркивание при наведении */
}

img {
    user-select: none; /* Запретить выделение текста */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
}

.containerInfo {
    background-color: white;
    border-radius: 8px; /* Скругление краёв */
    padding: 20px; /* Внутренние отступы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень контейнера */
    position: relative;
    max-width: 630px; /* Ширина */
    margin: 13px 0 5px 20px;
}

.containerInfo table {
    width: 100%;
    border-collapse: collapse;
}

.containerInfo td {
    padding: 5px; /* Отступы ячеек */
    text-align: left; /* Выравнивание текста */
    font-size: 14px;
}

.contactsPage{
    overflow: hidden;
}




