.service-title, .catalog-title {
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    margin-top: 15px;
    display: block;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.service-description {
    font-size: 20px;
    margin: 5px 0;
    text-align: center;
    font-weight: 700;
    color: #333;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
    width: 280px;
    height: 350px;
    margin-left: 650px;
    position: relative;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    height: 350px;
    margin: 10px;
    text-align: center;
    border: 2px solid #a9def5;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0;
    animation: fade-in 0.6s forwards;
}

@keyframes fade-in {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.partner:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.service img {
    width: 250px; /* Уменьшаем ширину изображения */
    height: 150px; /* Высота авто для пропорций */
    object-fit: contain;
    border-radius: 2px;
    margin: 5px 0; /* Увеличиваем отступы сверху и снизу */
}

.service a {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
    text-decoration: none;
    color: #0056b3; /* Цвет ссылок */
}

.service a:hover {
    color: #003d7a;
    text-decoration: underline;
}

.align-left {
    margin-left: 330px;
}

.align-lefty {
    margin-left: 490px;
}

/* Кнопка подробнее */
.button {
    display: block;
    width: 280px;
    padding: 10px; /* Отступ внутри кнопки */
    background-color: #a9def5; /* Цвет фона кнопки */
    color: black; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    text-decoration: none;
    border-radius: 5px; /* Скругление углов */
    position: absolute; /* Абсолютное позиционирование */
    bottom: 0; /* Отступ от нижней границы контейнера */
    left: 50%; /* Центрируем кнопку по горизонтали */
    transform: translateX(-50%); /* Сдвигаем кнопку назад на половину её ширины */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.button:hover {
    text-decoration: none;
    background-color: #c7c7c7;
}

.page-number {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #003d7a;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

/* Ссылка пагинации и наведения */
.page-number, .pagination a {
    color: #003d7a;
    text-decoration: none;
    margin: 0 5px;
}

.page-number:hover, .pagination a:hover {
    text-decoration: underline;
}

.page-number[style*="font-weight: bold;"] {
    font-weight: bold;
}

/* Стили для меню */
.menu {
    height: 535px;
    width: 400px;
    position: fixed;
    top: 120px;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    /* Стилизация скроллбара */
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.menu::-webkit-scrollbar {
    width: 1px;
}

.menu::-webkit-scrollbar-track {
    background: transparent;
}

.menu::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 40px;
}

.menu::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.menu-item {
    padding: 5px;
    cursor: pointer; /* Указатель при наведении */
    margin-top: 10px;
    border-bottom: 1px solid #ccc; /* Разделитель между элементами */
}

.menu-text {
    transition: background-color 0.2s, color 0.2s; /* Плавный переход */
}

/* Подсветка при наведении */
.menu-item:hover .menu-text {
    background-color: #e0f7fa; /* Цвет фона при наведении */
    color: #0056b3; /* Цвет текста при наведении */
}

/* Настройка навигации */
.pagination {
    display: flex; /* Используйте flexbox для выравнивания */
    justify-content: center; /* Центрирование по горизонтали */
    margin: 15px 0; /* Отступы сверху и снизу */
    position: fixed; /* Фиксируем панель навигации */
    bottom: 60px; /* Устанавливаем расстояние от верхней части экрана, измените по необходимости */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Сдвигаем назад на половину ширины */
    z-index: 1000; /* Убедитесь, что он выше других элементов */
}

.dropdown {
    display: none; /* Изначально скрыто */
    padding-left: 10px; /* Отступ для вложенных элементов */
}

.dropdown-item {
    padding: 5px; /* Отступ для элементов выпадающего списка */
    white-space: normal; /* Позволяет переносить текст на следующую строку */
}

/* Стрелки меню */
.arrow {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s;
    font-weight: normal; /* Уменьшение жирности */
    color: #777; /* Изменение цвета стрелки */
}

.dropdown.show {
    display: block; /* Показываем дропдаун */
}
