 .search-result {
            background-color: #e0f7fa;
            padding: 15px;
            margin: 10px 0 20px;
            border-radius: 5px;
            margin-left: 20px;

        }
        .search-title {
            font-family: 'Jura', sans-serif;
            margin-bottom: 20px;
            margin-left: 20px; /* Отступ снизу заголовка */
            margin-top: 20px;
        }
        .search-query {
            margin-bottom: 15px; /* Отступ снизу блока с запросом */
            font-size: 1.2em;
            margin-left: 20px;/* Увеличенный размер шрифта для выделения */
        }

        /* настройка навигации */
    .pagination {
        display: flex; /* Используйте flexbox для выравнивания */

        justify-content: center; /* Центрируйте все номера страниц */
        margin: 20px 0; /* Отступы сверху и снизу */
        position: fixed; /* Закрепите в нижней части страницы */
        bottom: 65px; /* Отступ от нижней части страницы */
        left: 50%; /* Сдвиг по горизонтали */
        transform: translateX(-50%); /* Центрирование */
        z-index: 1000; /* Убедитесь, что он выше других элементов */
    }

    .page-number {
        display: inline-block;
        width: 40px;
        height: 40px;

        color: #003d7a;
        text-align: center;

        margin: 0 5px;
        cursor: pointer;

    }

     .page-number, .pagination a {
        color: #003d7a; /* Замените на нужный вам цвет */
        text-decoration: none;
        margin: 0 5px; /* Отступы между элементами */
    }

    .page-number:hover, .pagination a:hover {
        text-decoration: underline; /* Подчеркивание при наведении */
    }

    .page-number[style*="font-weight: bold;"] {
        font-weight: bold; /* Сохранение жирного шрифта для активной страницы */
    }
    .first-page {
        margin-left: 25px; /* Увеличьте значение по необходимости */
    }