{% extends 'main/base.html' %}
{% load static %}

{% block title %}
О Компании
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block links %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    </style>
    <link rel="stylesheet" href="{% static 'css/stylesAbout.css' %}">
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="text-container" id="text-container">
            {% for text in texts %}
                <div class="text-item">
                    {{ text|safe }}
                </div>
            {% endfor %}
        </div>
        <div class="image-container" id="image-container">
            {% for image in images %}
                <img src="{% static image %}" class="image-item" />
            {% endfor %}
        </div>
    </div>
    <div class="button-container">
        <button onclick="prev()">←</button>
        <button onclick="next()">→</button>
    </div>


    {% block scripts %}

    <script>
        let currentIndex = 0;
        const texts = document.querySelectorAll('.text-item');
        const images = document.querySelectorAll('.image-container img');

        function showItem(index) {
            texts.forEach((item, i) => {
                item.style.transform = (i === index) ? 'translateX(0)' : (i < index ? 'translateX(-100%)' : 'translateX(100%)');
            });
            images.forEach((img, i) => {
                img.style.transform = (i === index) ? 'translateX(0)' : (i < index ? 'translateX(-100%)' : 'translateX(100%)');
            });
        }

        function next() {
            currentIndex = (currentIndex + 1) % texts.length;
            showItem(currentIndex);
        }

        function prev() {
            currentIndex = (currentIndex - 1 + texts.length) % texts.length;
            showItem(currentIndex);
        }

        // Инициализация первого элемента
        showItem(currentIndex);
    </script>
    {% endblock %}
{% endblock %}