{% extends 'main/base.html' %}
{% load static %}

{% block title %}
О Компании
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/stylesAbout.css' %}">
{% endblock %}

{% block content %}
    <h2 class="certificate-heading"><strong>О Компании</strong></h2>
    <div class="certificate-container">
        <div id="text-content">
            {% if texts %}
                {{ texts.0|safe }}
            {% else %}
                <p>Текст не найден.</p>
            {% endif %}
        </div>
        <div class="certificate-item">
            <img src="{% static 'images/sertificate4.png' %}" alt="Сертификат 3" class="clickable-image" onclick="openModal(this)">
        </div>
    </div>

    <!-- Модальное окно -->
    <div id="modal">
        <span class="close-modal" onclick="closeModal()">&times;</span>
        <div id="image-container">
            <img id="modal-img">
        </div>
    </div>

    {% block scripts %}
        <script>
            const texts = {% autoescape off %}{{ texts|safe }}{% endautoescape %};
        </script>
        <script src="{% static 'js/zoomAbout.js' %}" type="text/javascript"></script>
    {% endblock %}
{% endblock %}