<!doctype html>
<html lang="ru">
<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/animateButtonLink.css' %}">
    {% block links %} {% endblock %}

</head>
<body>
    <header class="header">
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="{% url 'index' %}" class="d-flex align-items-center text-decoration-none">
                <img src="{% static 'images/logo.webm' %}" alt="Лого" style="height: 70px; user-select: none;">
            </a>

            <div class="d1">
              <form>
                  <input type="text" placeholder="Искать здесь...">
                  <button type="submit"></button>
              </form>
            </div>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="bubbly-button me-3 nav-link {% if request.path == '/partners/' %}active{% endif %}" href="{% url 'partners' %}">Партнёры</a>
                <a class="me-3 nav-link {% if request.path == '/service/' %}active{% endif %}" href="{% url 'service' %}">Продукция</a>
                <a class="me-3 nav-link {% if request.path == '/sertificate/' %}active{% endif %}" href="{% url 'sertificate' %}">Сертификаты</a>
                <a class="me-3 nav-link {% if request.path == '/news/' %}active{% endif %}" href="{% url 'news' %}">Новости</a>
            </nav>

        </div>

        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    {% if request.path == '/partners/' %}
                        <li class="breadcrumb-item active" aria-current="page">Партнёры</li>
                    {% elif request.path == '/service/' %}
                        <li class="breadcrumb-item active" aria-current="page">Продукция</li>
                    {% elif request.path == '/sertificate/' %}
                        <li class="breadcrumb-item active" aria-current="page">Сертификаты</li>
                    {% elif request.path == '/news/' %}
                        <li class="breadcrumb-item active" aria-current="page">Новости</li>
                    {% elif request.path == '/about/' %}
                    <li class="breadcrumb-item active" aria-current="page">О компании</li>
                    {% elif request.path == '/contact/' %}
                        <li class="breadcrumb-item active" aria-current="page">Контакты</li>
                    {% elif request.path == '/write/' %}
                        <li class="breadcrumb-item active" aria-current="page">Написать нам</li>
                    {% elif request.path == '/faq/' %}
                        <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                    {% endif %}
                </ol>
            </nav>
        </div>
    </header>


    {% block content %}{% endblock %}

    <footer class="footer mt-4">
        <div class="d-flex justify-content-start py-3">
            <a class="me-3 nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">О компании</a>
            <a class="me-3 nav-link {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Контакты</a>
            <a class="me-3 nav-link {% if request.path == '/write/' %}active{% endif %}" href="{% url 'write' %}">Написать нам</a>
            <a class="me-3 nav-link {% if request.path == '/faq/' %}active{% endif %}" href="{% url 'faq' %}">FAQ</a>
        </div>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>
