{% extends 'main/base.html' %}
{% load static %}


{% block title %}
Контакты
{% endblock %}

{% block breadcrumb %}
<nav class="breadcrumb">
    <a href="#">Главная</a> &gt;
    <a href="#">Категория</a> &gt;
    <span>Текущая страница</span>
</nav>
{% endblock %}

{% block content %}
    <h2 style="margin-left: 20px">Контакты</h2>
    <div class="contactsPage">
        <h5 style="margin-left: 20px; margin-top: 20px"><strong>ООО "Ал-Тек"</strong></h5>
        <div class="flex-container">
            <div class="flex-item">
                <div class="containerInfo">
                    <table>
                        <tbody>
                            <tr>
                                <td>Адрес:</td>
                                <td>195027, г. Санкт-Петербург, ул. Магнитогорская, д. 51, лит. Е, офис 313</td>
                            </tr>
                            <tr>
                                <td>Тел/факс:</td>
                                <td>+7 (812) 441-36-59</td>
                            </tr>
                            <tr>
                                <td>E-mail:</td>
                                <td><a href="mailto:info@al-tec.ru">info@al-tec.ru</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h5 style="margin-left: 20px; margin-top: 20px"><strong>Офис в Московской обл.</strong></h5>
                <div class="containerInfo">
                    <table>
                        <tbody>
                            <tr>
                                <td>Адрес:</td>
                                <td>142111, Московская область, г. Подольск, ул. Окружная, 2В, стр. 1</td>
                            </tr>
                            <tr>
                                <td>Телефон:</td>
                                <td>+7 (909) 913-53-03</td>
                            </tr>
                            <tr>
                                <td>Факс:</td>
                                <td>+7 (909) 913-53-03</td>
                            </tr>
                            <tr>
                                <td>E-mail:</td>
                                <td><a href="mailto:info@avtomoyki.ru">info@avtomoyki.ru</a></td>
                            </tr>
                            <tr>
                                <td>Сайт:</td>
                                <td>www.avtomoyki.ru</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="flex-item map" id="map" style="margin-top: -90px;"></div>
        </div>
    </div>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="{% static 'js/map.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/breadcrumb.js' %}" type="text/javascript"></script>
{% endblock %}

