{% extends 'main/base.html' %}
{% load static %}
{% load compress %}

{% block title %}
Контакты
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/stylesContact.css' %}">
{% endblock %}

{% block content %}
    <h5 class="contact-title">Контакты</h5>
    <div class="flex-container" style="margin-top: 20px;">
        <div class="flex-item">
            <h5 class="fade-in" style="margin-left: 20px; margin-top: 15px;">
                <strong>ООО "Ал-Тек"</strong>
            </h5>
            <div class="containerInfo fade-in">
                <table>
                    <tbody>
                        <tr>
                            <td><strong>Адрес:</strong></td>
                            <td>195027, г. Санкт-Петербург, ул. Магнитогорская, д. 51, лит. Е, офис 313</td>
                        </tr>
                        <tr>
                            <td><strong>Тел/факс:</strong></td>
                            <td>+7 (812) 441-36-59</td>
                        </tr>
                        <tr>
                            <td><strong>E-mail:</strong></td>
                            <td><a href="mailto:info@al-tec.ru">info@al-tec.ru</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h5 class="fade-in" style="margin-left: 20px; margin-top: 30px;"><strong>Московской обл.</strong></h5>
            <div class="containerInfo fade-in">
                <table>
                    <tbody>
                        <tr>
                            <td><strong>Адрес</strong>:</td>
                            <td>142111, Московская область, г. Подольск, ул. Окружная, 2В, стр. 1</td>
                        </tr>
                        <tr>
                            <td><strong>Телефон:</strong></td>
                            <td>+7 (909) 913-53-03</td>
                        </tr>
                        <tr>
                            <td><strong>Факс:</strong></td>
                            <td>+7 (495) 504-04-13</td>
                        </tr>
                        <tr>
                            <td><strong>E-mail:</strong></td>
                            <td><a href="mailto:info@avtomoyki.ru">info@avtomoyki.ru</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Элемент для динамической карты -->
        <div class="flex-item map" id="map"></div>
    </div>

{% endblock %}

{% block scripts %}
    {% compress js %}
        <script>
            // Инициализация карты Яндекс с возможностью перемещения и изменения масштаба
            var script = document.createElement('script');
            script.src = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=ВАШ_API_КЛЮЧ';
            script.async = true; // Асинхронная загрузка
            document.body.appendChild(script);

            // Проверка на успешную инициализацию Яндекс.Карты
            script.onload = function() {
                if (typeof ymaps !== 'undefined') {
                    ymaps.ready(init);
                } else {
                    console.error("ERROR MAP");
                }
            };

            // Функция инициализации карты
            function init() {
                var myMap = new ymaps.Map("map", {
                    center: [59.9386, 30.3141], // Координаты центра
                    zoom: 9, // зум
                    controls: ['zoomControl']
                });

                // Метка СПБ
                var myPlacemarkSPB = new ymaps.Placemark([59.939374, 30.433026], {
                    balloonContent: '<div class="balloon-content">' +
                    '<p>Дополнительная информация здесь.</p>' +
                    '</div>'
                });

                myMap.geoObjects.add(myPlacemarkSPB);

                // Плавное перемещение к метке
                myPlacemarkSPB.events.add("click", function () {
                    myMap.setCenter([59.939374, 30.433026], 15, {
                        duration: 2000 // продолжительность анимации в мс
                    });
                });
            }
        </script>
    {% endcompress %}
{% endblock %}
