{% extends 'main/base.html' %}
{% load static %}
{% load compress %}

{% block title %}
    FAQ
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/stylesFAQ.css' %}">
{% endblock %}

{% block content %}
    <h5 class="faq-title">FAQ. Вопрос-Ответ</h5>
    <div class="faq-layout" style="display: flex; margin: 20px;">
        <div class="faq-description" style="flex: 1; text-align: center;">
            <p>У вас есть вопрос?</p>
            <p>Мы с радостью проконсультируем вас! Ответы на странице появляются после модерации.</p>
            <a href="{% url 'write' %}" class="ask-question-button">Задать вопрос</a>
        </div>
        <div class="faq-container" id="faqContainer" style="flex: 2; margin-left: 20px;">
            {% for faq in faqs|slice:":7" %}
                <div class="faq-item" tabindex="0" aria-expanded="false" style="background-color: #a8d9ff; color: #000000;">
                    <div class="faq-question" onclick="toggleAnswer(this)" onkeydown="handleKeyPress(event, this)" style="display: flex; justify-content: space-between; align-items: center;">
                        <h6 style="margin: 0;">{{ faq.question }}</h6>
                        <span class="arrow">+</span>
                    </div>
                    <div class="faq-answer" aria-hidden="true" style="display: none; margin-top: 10px;">
                        <div style="background-color: #f0f0f0; border-radius: 5px; padding: 10px; transition: max-height 0.5s ease-out; overflow: hidden;">
                            <p style="margin: 0; color: #555;">{{ faq.answer }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

  <div class="pagination" >
    {% if total_pages > 1 %}
        <a class="page-number" onclick="loadPage({{ current_page|add:'-1' }})" {% if current_page == 1 %}style="display: none;"{% endif %}>&lt;&lt;назад </a>  <!-- Кнопка стрелка назад -->

        {% for page in page_numbers %}
            <span class="page-number {% if page == 1 %}first-page{% endif %}" onclick="loadPage({{ page }})" {% if current_page == page %}style="font-weight: bold;"{% endif %}>{{ page }}</span>
        {% endfor %}

        <a class="page-number" onclick="loadPage({{ current_page|add:'1' }})" {% if current_page == total_pages %}style="display: none;"{% endif %}>вперед&gt;&gt;</a>  <!-- Кнопка стрелка вперед -->
    {% endif %}
  </div>

    <div id="faqModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h6 id="modalQuestion" style="font-weight: bold;"></h6>
            <p id="modalAnswer"></p>
        </div>
    </div>

    {% block scripts %}
        <script>
            function toggleAnswer(questionElement) {
                const answerElement = questionElement.nextElementSibling;
                const arrowElement = questionElement.querySelector('.arrow');
                const isExpanded = questionElement.parentElement.getAttribute('aria-expanded') === 'true';

                const modalQuestion = document.getElementById("modalQuestion");
                const modalAnswer = document.getElementById("modalAnswer");

                modalQuestion.textContent = questionElement.querySelector('h6').textContent;
                modalAnswer.textContent = isExpanded ? '' : answerElement.querySelector('p').textContent;

                if (isExpanded) {
                    closeModal();
                    arrowElement.textContent = '+';
                } else {
                    document.getElementById("faqModal").style.display = "block";
                }

                questionElement.parentElement.setAttribute('aria-expanded', !isExpanded);
                arrowElement.textContent = isExpanded ? '+' : '-';
            }

            function closeModal() {
                document.getElementById("faqModal").style.display = "none";
                const faqQuestions = document.querySelectorAll('.faq-question');
                faqQuestions.forEach(question => {
                    question.querySelector('.arrow').textContent = '+';
                });
            }

            document.querySelector('.close').onclick = function() {
                closeModal();
            }

            window.onclick = function(event) {
                const modal = document.getElementById("faqModal");
                if (event.target === modal) {
                    closeModal();
                }
            }

            function loadPage(pageNumber) {
                const url = `{% url 'faq' %}?page=` + pageNumber; // Измените на ваш URL.
                window.location.href = url; // Переход на новую страницу.
            }

            document.addEventListener("DOMContentLoaded", function() {
                const faqItems = document.querySelectorAll('.faq-item');
                faqItems.forEach((item, index) => {
                    setTimeout(() => {
                        item.classList.add('visible'); // Добавляем класс для анимации появления
                    }, index * 100); // Задержка между элементами
                });
            });
        </script>
    {% endblock %}
{% endblock %}
