{% extends "main/base.html" %}

{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <div class="full-width-container">
        <video autoplay loop muted class="styled-gif">
            <source src="{% static 'images/altec.webm' %}" type="video/webm">
            Your browser does not support the video tag.
        </video>
        <div class="equipment-description">
            <strong>Автомойки для транспорта</strong>
        </div>
    </div>
{% endblock %}
