{% extends 'main/base.html' %}

{% block title %}
Новости
{% endblock %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/stylesNews.css' %}">
{% endblock %}


{% block content %}
    <div>
        {% if news_list %}
            <div id="news-container">
                {% for news in news_list %}
                    <div class="news-item" draggable="true">
                        <div class="news-image">
                            <img src="{% static 'images/iconNews.webm' %}" alt="Новость" />
                        </div>
                        <div class="news-content">
                            <h2>{{ news.title }}</h2>
                            <p>{{ news.text }}</p>
                            <small>Дата написания: {{ news.date_written|date:"d.m.Y H:i" }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Нет новостей на данный момент.</p>
        {% endif %}
    </div>
{% endblock %}