{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Партнёры
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/stylesPartners.css' %}">
{% endblock %}

{% block content %}
    <h2 style="margin-left: 20px"><strong>Партнёры</strong></h2>

    <div id="text-content">
        {{ texts.0|safe }}
    </div>

    <div class="image-container">
        <img id="partner-image" class="image-content" src="{% static 'images/image1.png' %}"
             alt="Изображение партнёра" style="width: 1000px; height: auto;" />
    </div>

    <div class="button-container">
        <button class="nav-button left-button" onclick="changeText(-1)">←</button>
        <button class="nav-button right-button" onclick="changeText(1)">→</button>
    </div>

    {% block scripts %}
        <script>
            const texts = {% autoescape off %}{{ texts|safe }}{% endautoescape %};

            const images = [
                {src: "{% static 'images/image1.png' %}", width: '550px', height: '250px'},
                {src: "{% static 'images/image2.png' %}", width: '400px', height: '200px'},
                {src: "{% static 'images/image3.png' %}", width: '400px', height: '200px'}
            ];
        </script>
        <script src="{% static 'js/changeText.js' %}"></script>
    {% endblock %}


{% endblock %}
