{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Сертификаты
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/stylesSertificate.css' %}">
{% endblock %}

{% block content %}
    <h2 style="margin-left: 20px"><strong>Сертификаты</strong></h2>
    <div class="countainer-image">
        <img src="{% static 'images/sertificate1.jpg' %}" alt="Сертификат 1" class="clickable-image image" >
    </div>

   <!-- Фон для модального окна -->
    <div id="modal-background"  class="modal-style"></div>

    <!-- Модальное окно -->
    <div id="modal" class="modal-window">
        <span id="close" class="span-object">&times;</span>
        <img id="modal-img" style="max-width: 100%; max-height: 80vh; height: auto;">
    </div>
    <script src="{% static 'js/zoomPicture.js' %}" type="text/javascript"></script>
{% endblock %}