{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Сертификаты
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/stylesSertificate.css' %}">
{% endblock %}

{% block content %}
    <h5 class="certificate-title">Сертификаты</h5>
    <div class="certificate-container">
        <div class="certificate-item">
            <img src="{% static 'images/sertificate1.webm' %}" alt="Сертификат 1" class="clickable-image image-animation" onclick="openModal(this)">
        </div>
        <div class="certificate-item">
            <img src="{% static 'images/sertificate2.webm' %}" alt="Сертификат 2" class="clickable-image image-animation" onclick="openModal(this)">
        </div>
        <div class="certificate-item">
            <img src="{% static 'images/sertificate3.webm' %}" alt="Сертификат 3" class="clickable-image image-animation" onclick="openModal(this)">
        </div>
    </div>

    <!-- Модальное окно -->
    <div id="modal">
        <span class="close-modal" onclick="closeModal()">&times;</span>
        <div id="image-container">
            <img id="modal-img">
            <div class="prev" onclick="prevImage()">&#10094;</div>
            <div class="next" onclick="nextImage()">&#10095;</div>
        </div>
    </div>

    {% block scripts %}
        <script src="{% static 'js/zoomPicture.js' %}" type="text/javascript"></script>
    {% endblock %}
{% endblock %}

