{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ service.prod_name }} - Подробности  <!-- Измените на prod_name -->
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/stylesServiceDetai.css' %}">
{% endblock %}

{% block content %}
<div class="service-detail">
    <h1>{{ service.prod_name }}</h1>  <!-- Измените на prod_name -->
    <img src="{{ service.image_path }}" alt="{{ service.prod_name }}" style="width: 150px; height: auto;" />
    <h2>Описание</h2>
    <p>{{ service.description }}</p>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f4f4f4;
            text-align: left;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Характеристики</th>
            </tr>
        </thead>
        <tbody>
            <!-- Вывод каждой строки из списка characteristics -->
            {% for characteristic in characteristics %}
                <tr>
                    <td>{{ characteristic }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'service' %}">Назад к услугам</a>
</div>
{% endblock %}
