{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Продукция
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/stylesService.css' %}">
    <style>
        .container {
            display: flex;
        }

        .menu {
            height: 445px;
            width: 410px;
            max-width: 100%;
            position: fixed;
            top: 118px;
            left: 0px;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 100px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            overflow-y: auto;
        }

        .menu::-webkit-scrollbar {
            width: 1px;
        }

        .menu::-webkit-scrollbar-track {
            background: transparent;
        }

        .menu::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 40px;
        }

        .menu::-webkit-scrollbar-thumb:hover {
            background: #aaa;
        }

        .menu {
            scrollbar-width: thin;
            scrollbar-color: #ccc transparent;
        }

        .menu-item {
            cursor: pointer;
            padding: 8px;
            margin-top: 20px;
            border-bottom: 1px solid #ccc;
            white-space: normal;
        }

        .dropdown {
            display: none;
            margin-top: 5px;
            padding-left: 10px;
        }

        .dropdown-item {
            padding: 5px;
            white-space: normal;
        }

        .arrow {
            display: inline-block;
            margin-left: 5px;
            transition: transform 0.3s;
            color: #777;
        }

        .dropdown.show {
            display: block;
        }

        .arrow.up {
            transform: rotate(180deg);
        }

        .button {
            display: block;
            width: 380px;
            padding: 10px;
            background-color: #a9def5;
            color: black;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            margin-bottom: 0px;
            transition: background-color 0.3s;
        }

        .button:hover {
            background-color: #c7c7c7;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="menu">
            <div class="menu-item" onclick="toggleDropdown('category1', true)">
                Мойки для транспорта TAMMERMATIC
                <span class="arrow" id="arrow1">►</span>
                <div id="category1" class="dropdown">
                    <div class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory1')">Автоматические мойки для легкового транспорта</div>
                    <div class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory2')">Автоматические мойки для грузовых машин</div>
                    <div class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory3')">Автоматические мойки для поездов метро</div>
                    <div class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory4')">Автоматические мойки для ж/д транспорта</div>
                    <div class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory4')">Мойки InterClean</div>
                </div>
            </div>
            <div class="menu-item" onclick="toggleDropdown('category2', true)">
                Производство АЛ-ТЕК
                <span class="arrow" id="arrow2">►</span>
                <div id="category2" class="dropdown">
                    <div class="dropdown-item">Промышленные ворота "Идеал"</div>
                    <div class="dropdown-item">Система отчистки воды</div>
                </div>
            </div>
        </div>

        <div class="partners-container">
            {% for service in services %}
                <div class="partner">
                    <div class="partner-description">
                        {{ service.prod_name }}
                    </div>
                    <img src="{{ service.image_path }}" alt="{{ service.alt }}">
                    <div class="partner-description">
                        <a href="{% url 'service_detail' service.id_prod %}" class="button">ПОДРОБНЕЕ</a>
                    </div>
                </div>
            {% endfor %}

            <div class="pagination" style="text-align: center;">
                {% if total_pages > 1 %}
                    <span class="page-number" onclick="loadPage({{ current_page|add:'-1' }})" {% if current_page == 1 %}style="display: none;"{% endif %}>&lt;</span>
                    <span class="page-number" onclick="loadPage(1)" {% if current_page == 1 %}style="font-weight: bold;"{% endif %}>1</span>
                    {% if total_pages > 3 %}
                        <span>...</span>
                    {% endif %}
                    <span class="page-number" onclick="loadPage({ total_pages })" {% if current_page == total_pages %}style="font-weight: bold;"{% endif %}>{{ total_pages }}</span>
                    <span class="page-number" onclick="loadPage({{ current_page|add:'1' }})" {% if current_page == total_pages %}style="display: none;"{% endif %}>&gt;</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function loadPage(pageNumber) {
            const url = `{% url 'service' %}?page=` + pageNumber;
            window.location.href = url;
        }

        function toggleDropdown(dropdownId, isMainCategory = false) {
            const dropdown = document.getElementById(dropdownId);
            const arrow = document.getElementById('arrow' + dropdownId.charAt(dropdownId.length - 1));

            if (dropdown) {
                if (dropdown.classList.contains('show')) {
                    dropdown.classList.remove('show');
                    if (isMainCategory) {
                        arrow.classList.remove('down');
                        arrow.innerHTML = '►';
                    }
                    dropdown.style.display = 'none';
                } else {
                    dropdown.classList.add('show');
                    if (isMainCategory) {
                        arrow.classList.add('down');
                        arrow.innerHTML = '▼';
                    }
                    dropdown.style.display = 'block';
                }
            }
        }

        window.onclick = function(event) {
            if (!event.target.matches('.menu-item') && !event.target.matches('.dropdown-item')) {
                var dropdowns = document.getElementsByClassName("dropdown");
                for (var i = 0; i < dropdowns.length; i++) {
                    dropdowns[i].style.display = "none";
                }

                const mainArrows = document.querySelectorAll('.arrow');
                mainArrows.forEach((arrow) => {
                    arrow.innerHTML = '►';
                    arrow.classList.remove('down');
                });
            }
        }
    </script>
{% endblock %}
