{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Продукция
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/stylesService.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Меню страницы  -->
        <div class="menu">
          <div class="menu-item" onclick="toggleDropdown('category1', true)">Мойки для транспорта TAMMERMATIC
                <span class="arrow" id="arrow1">►</span>
                <div id="category1" class="dropdown">
                    <!-- Выпадающий список для 1 пункта меню  -->
                    <ul>
                        <li class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory1')">Автоматические мойки для легкового транспорта</li>
                        <li class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory2')">Автоматические мойки для грузовых машин</li>
                        <li class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory3')">Автоматические мойки для поездов метро</li>
                        <li class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory4')">Автоматические мойки для ж/д транспорта</li>
                        <li class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory5')">Мойки InterClean</li>
                    </ul>
                </div>
            </div>
            <div class="menu-item" onclick="toggleDropdown('category2', true)">Производство АЛ-ТЕК
                <span class="arrow" id="arrow2">►</span>
                <div id="category2" class="dropdown">
                    <!-- Выпадающий список для 2 пункта меню  -->
                    <ul>
                        <li  class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory6')">Промышленные ворота "Идеал"</li>
                        <li  class="dropdown-item" onclick="event.stopPropagation(); toggleDropdown('subcategory7')">Система отчистки воды</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Контейнер для продуктов  -->
        <div class="partners-container">
        {% for service in services %}
            <div class="partner">
                <div class="partner-description">
                    {{ service.prod_name }}
                </div>
                <img src="{{ service.image_path }}" alt="{{ service.alt }}">
                <div class="partner-description">
                    <a href="{% url 'service_detail' service.id_prod %}" class="button">ПОДРОБНЕЕ</a>
                </div>
            </div>
        {% endfor %}
        </div>

        <!-- Навигация  -->
        <div class="pagination" style="text-align: center;">
        {% if total_pages > 1 %}
            <span class="page-number" onclick="loadPage({{ current_page|add:'-1' }})" {% if current_page == 1 %}style="display: none;"{% endif %}>&lt;</span>  <!-- Кнопка стрелка назад -->
            <span class="page-number" onclick="loadPage(1)" {% if current_page == 1 %}style="font-weight: bold;"{% endif %}>1</span>  <!-- Кнопка первая страница -->

            {% if total_pages > 3 %}
                <span>...</span>  <!-- Точки -->
            {% endif %}

            <span class="page-number" onclick="loadPage({{ total_pages }})" {% if current_page == total_pages %}style="font-weight: bold;"{% endif %}>{{ total_pages }}</span>  <!-- Кнопка последняя страница -->

            <span class="page-number" onclick="loadPage({{ current_page|add:'1' }})" {% if current_page == total_pages %}style="display: none;"{% endif %}>&gt;</span>  <!-- Кнопка стрелка вперед -->
        {% endif %}
        </div>
    </div>
</div>


{% block scripts %}
    <script>
    function loadPage(pageNumber) {
        const url = `{% url 'service' %}?page=` + pageNumber;
        window.location.href = url; // Переход на новую страницу.
    }

    function toggleDropdown(dropdownId, isMainCategory = false) {
        const dropdown = document.getElementById(dropdownId);
        const arrow = document.getElementById('arrow' + dropdownId.charAt(dropdownId.length - 1));

        if (dropdown) {
            // Переключение класса 'show' для дропдауна
            if (dropdown.classList.contains('show')) {
                dropdown.classList.remove('show');
                if (isMainCategory) {
                    arrow.classList.remove('down');
                    arrow.innerHTML = '►'; // Стрелка вправо
                }
                dropdown.style.display = 'none'; // Скрываем дропдаун
            } else {
                dropdown.classList.add('show');
                if (isMainCategory) {
                    arrow.classList.add('down');
                    arrow.innerHTML = '▼'; // Стрелка вниз
                }
                dropdown.style.display = 'block'; // Показываем дропдаун
            }
        }
    }

    window.onclick = function(event) {
    }
</script>
{% endblock %}

{% endblock %}
