{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Написать нам
{% endblock %}

{% block content %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/stylesWrite.css' %}">
{% endblock %}

<h2 style="margin-left: 20px"><strong>Написать нам</strong></h2>
<div class="containerInfo write-to-us">
    <form action="/send_message/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Ваше имя</label>
            <input type="text" id="name" name="name" placeholder="Введите ваше имя" required>
        </div>
        <div class="form-group">
            <label for="phone">Телефон</label>
            <input type="tel" id="phone" name="phone" placeholder="Введите номер телефона" required>
        </div>
        <div class="form-group">
            <label for="email">Электронная почта</label>
            <input type="email" id="email" name="email" placeholder="Введите вашу почту" required>
        </div>
        <div class="form-group">
            <label for="question">Ваш вопрос</label>
            <textarea id="question" name="question" placeholder="Введите ваш вопрос" required></textarea>
        </div>
        <button type="submit" class="send-button">Отправить</button>
    </form>
</div>
{% endblock %}
