{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Написать нам
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/stylesWrite.css' %}">
{% endblock %}

{% block content %}

<div class="write-to-us">
    <form action="#" method="post" onsubmit="sendEmail(event)">
        {% csrf_token %}
        <div class="form-group flex-group">
            <div class="flex-item">
                <label for="name">Ваше имя</label>
                <input type="text" id="name" name="name" placeholder="Введите ваше имя" required>
            </div>
            <div class="flex-item">
                <label for="phone">Телефон</label>
                <input type="tel" id="phone" name="phone" placeholder="Введите номер телефона" required>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Электронная почта</label>
            <input type="email" id="email" name="email" placeholder="Введите вашу почту" required>
        </div>

        <div class="form-group">
            <label for="question">Ваш вопрос</label>
            <textarea id="question" name="question" placeholder="Введите ваш вопрос" required></textarea>
        </div>

        <button type="submit" class="send-button">Отправить</button>
    </form>
</div>

{% block script %}
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>

    <script type="text/javascript">
        (function() {
            emailjs.init("cFdxvAOZutfnLnRyJ"); // Вставьте ваш Public Key из EmailJS
        })();

        function sendEmail(event) {
            event.preventDefault();

            const form = event.target;

            const formData = {
                name: form.elements["name"].value,
                email: form.elements["email"].value,
                phone: form.elements["phone"].value,
                message: form.elements["question"].value,
            };


            emailjs.send("service_ff5uksc", "template_qo1cyv8", formData)
                .then(response => {
                    alert("Сообщение успешно отправлено!");
                    form.reset();
                })
                .catch(error => {
                    console.error("Ошибка при отправке:", error);
                    alert("Не удалось отправить сообщение. Попробуйте позже.");
                });
        }
    </script>
{% endblock %}

{% endblock %}
