/* Контейнер для всех новостей */
#news-container {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Отступы между блоками */
    margin: 0 auto;
    align-items: center;
}

/* Основной блок новости */
.news-item {
    display: flex;
    align-items: center;
    border: 3px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #73c5f5;
    cursor: move;
    width: 1000px; /* Ширина блока */
    height: 90px; /* Высота блока */
}

/* Блок для изображения */
.news-image {
    flex-shrink: 0;
    width: 150px; /* Ширина изображения */
    height: 94px; /* Высота изображения */
    margin-right: 15px;
    margin-left: -15px;
    padding: 10px; /* Внутренние отступы внутри блока */
}

.news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px; /* Закругление углов изображения */
}

/* Блок для текста */
.news-content {
    flex-grow: 1;
}

.news-content h2 {
    margin: 0 0 10px;
    font-size: 20px; /* Размер заголовка */
}

.news-content p {
    margin: 0 0 10px;
    font-size: 16px; /* Размер текста */
    color: #555;
}

.news-content small {
    font-size: 14px; /* Размер текста для даты */
    color: #888;
}