.about-container {
    width: 80%; /* Установите ширину контейнера */
    padding: 20px;
    font-size: 20px;
    line-height: 1.9;
    border-radius: 15px;
    text-align: center;
    background-color: #fff; /* Цвет фона */
    box-shadow: none; /* Убираем тень */
    margin: 20px auto; /* Центрируем контейнер */
}

.scroll-container {
    position: relative;
    overflow: hidden;
    border: none; /* Убираем рамку */
    border-radius: 15px;
    width: 80%; /* Ширина такая же, как у about-container */
    margin: 30px auto; /* Центрируем контейнер */
    background-color: #EFFBFF; /* Цвет фона прокручиваемой области */
    padding: 10px 0;
}

.scroll-item {
    flex: 0 0 auto;
    width: 200px;
    margin: 0 25px;
    text-align: center;
    color: #1b1b1b;
}

.scroll-item img {
    width: 200px;
    height: 140px;
    object-fit: initial; /* Измените на cover, если хотите сохранить пропорции */
    margin-bottom: 5px;
    border: 2px solid #000; /* Добавьте рамку к изображению */
    border-radius: 15px; /* Закругление углов изображения */
}
