.title-text{
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    margin-top: 15px;
    display: block;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.about-container {
    width: 80%; /* ширина */
    padding: 20px;
    font-size: 20px;
    line-height: 1.9;
    border: 2px solid #a9def5;
    border-radius: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.about-container p {
    margin: 0;
}

/* карусель */
.scroll-container {
    position: relative;
    overflow: hidden;
    border: 2px solid #a9def5;
    border-radius: 15px;
    width: 80%;
    margin: 30px auto;
    background-color: #EFFBFF;
    padding: 10px 0;
}

.scroll-item {
    flex: 0 0 auto;
    width: 200px;
    margin: 0 25px;
    text-align: center;
    color: #1b1b1b;
}

.scroll-content {
    display: flex;
    animation: scroll linear infinite;
}

.scroll-item img {
    width: 200px;
    height: 140px;
    object-fit: initial;
    margin-bottom: 5px;
    border: 2px solid #000;
    border-radius: 15px;
}

.scroll-item span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}
