html, body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box; /* Примените ко всем элементам */
}

.main-container {
    display: flex;
    height: calc(100vh - 60px);
    position: relative;
    overflow: hidden; /* Скрываем переполнение, чтобы избежать отображения элементов вне контейнера */
}

.text-container {
    flex: 1;
    padding-top: 40px;
    background-color: white;
    font-family: "Ubuntu", serif;
    font-size: 20px;
    text-align: justify;
    position: relative; /* Для управления позиционированием текста */
    overflow: hidden; /* Скрываем переполнение так, чтобы текст не выходил за границы */
}

.text-item {
    width: 100%;
    padding-left: 30px;
    position: absolute; /* Позволяет текстам накладываться друг на друга */
    transition: transform 0.5s ease; /* Плавный переход для трансформации */
    left: 0; /* Выравнивание по левому краю */
}

.image-container {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Скрываем переполнение */
    position: relative; /* Для управления позиционированием изображений */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; /* Позволяет изображениям наклады��аться друг на друга */
    transition: transform 0.5s ease; /* Плавный переход для трансформации */
}

.button-container {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%); /* Центрируем кнопки */
    display: flex;
    gap: 10px;
}

button {
    width: 70px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #a8d9ff;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
