    /* Настройка контейнера */
    .partners-title {
        font-size: 36px; /* Увеличенный размер заголовка */
        margin: 40px 0 20px; /* Отступы со всех сторон */
        text-align: center;
        font-weight: 700;
        color: #333; /* Цвет текста */
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    }

    .partner-description {
        font-size: 20px; /* Увеличенный размер заголовка */
        margin: 5px 0 5px; /* Отступы со всех сторон */
        text-align: center;
        font-weight: 700;
        color: #333; /* Цвет текста */
    }


    .partners-container {
        display: flex;
       /* Позволяет элементам переноситься */
        justify-content: center; /* Центрируем содержимое */
        gap: 20px; /* Промежуток между контейнерами */
        margin-top: 5px;
        width: 280px;
        height: 350px;
        margin-left: 600px;
        position: relative;

    }

   .partner {
        display: flex;
        flex-direction: column; /* Вертикальное расположение */
        align-items: center; /* Центрируем элементы */
        max-width: 280px; /* Максимальная ширина для удобства */
        height: 350px; /* Высота контейнера */
        margin: 10px; /* Отступы по бокам */
        text-align: center; /* Центрирование текста */
        border: 2px solid #a9def5;
        border-radius: 10px;
        padding: 20px;
        background-color: #ffffff; /* Белый фон */
        transition: transform 0.3s, box-shadow 0.3s; /* Анимация для трансформации и тени */
        opacity: 0; /* Начальное значение для анимации */
        animation: fade-in 0.6s forwards; /* Применяем анимацию */
        position: relative; /* Устанавливаем относительное позиционирование для дочерних элементов */
   }

    /* Анимация появления */
    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .partner:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Тень при наведении */
    }

    .partner img {
        width: 250px; /* Уменьшаем ширину изображения */
        height: 150px; /* Высота авто для пропорций */
        object-fit: contain;
        border-radius: 2px;
        margin-bottom: 5px;
        margin-top: 5px /* Увеличиваем отступ снизу */
    }

    .partner a {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 500;
        transition: color 0.3s;
        text-decoration: none;
        color: #0056b3; /* Цвет ссылок */
    }

    .partner a:hover {
        color: #003d7a; /* Темнее при наведении */
        text-decoration: underline; /* Подчеркивание при наведении */
    }



    /* Кнопка подробнее */
    .button {
        display: block; /* Делает ссылку блочным элементом */
        width: 278px;
        padding: 10px; /* Отступ внутри кнопки */
        background-color: #a9def5; /* Цвет фона кнопки */
        color: black; /* Цвет текста */
        text-align: center; /* Центрирование текста */
        text-decoration: none; /* Убираем подчеркивание */
        border-radius: 5px; /* Скругление углов */
        position: absolute; /* Абсолютное позиционирование */
        bottom: 0px; /* Отступ от нижней границы контейнера */
        left: 50%; /* Центрируем кнопку по горизонтали */
        transform: translateX(-50%); /* Сдвигаем кнопку назад на половину её ширины */
        transition: background-color 0.3s; /* Плавный переход цвета фона */
    }
    .button:hover {
        background-color: #c7c7c7; /* Цвет фона при наведении */
    }



    /* настройка навигации */
    .pagination {
        display: flex; /* Используйте flexbox для выравнивания */

        justify-content: center; /* Центрируйте все номера страниц */
        margin: 20px 0; /* Отступы сверху и снизу */
        position: fixed; /* Закрепите в нижней части страницы */
        bottom: 65px; /* Отступ от нижней части страницы */
        left: 62%; /* Сдвиг по горизонтали */
        transform: translateX(-50%); /* Центрирование */
        z-index: 1000; /* Убедитесь, что он выше других элементов */
    }

    .page-number {
        display: inline-block;
        width: 40px;
        height: 40px;

        color: #003d7a;
        text-align: center;

        margin: 0 5px;
        cursor: pointer;

    }

     .page-number, .pagination a {
        color: #003d7a; /* Замените на нужный вам цвет */
        text-decoration: none;
        margin: 0 5px; /* Отступы между элементами */
    }

    .page-number:hover, .pagination a:hover {
        text-decoration: underline; /* Подчеркивание при наведении */
    }

    .page-number[style*="font-weight: bold;"] {
        font-weight: bold; /* Сохранение жирного шрифта для активной страницы */
    }



    /* Стили для меню */
    .menu
    {
        height: 445px; /* Высота меню */
        width: 370px; /* Ширина меню */
        max-width: 100%; /* Ограничение ширины для мобильных устройств */
        position: fixed; /* Фиксируем меню при прокрутке */
        top: 118px; /* Расположение сверху */
        left: 0px; /* Расположение слева */
        background-color: #fff; /* Цвет фона */
        padding: 20px; /* Внутренний отступ */
        border-radius: 5px; /* Скругление углов */
        margin-bottom: 100px; /* Значение можно изменить по необходимости */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для эффекта */
        overflow-y: auto; /* Добавляем прокрутку по вертикали */
    }

    /* Стилизация скроллбара для WebKit-браузеров (Chrome, Safari) */
    .menu::-webkit-scrollbar {
        width: 1px; /* Ширина скроллбара */
    }

    .menu::-webkit-scrollbar-track {
        background: transparent; /* Цвет фона трека */
    }

    .menu::-webkit-scrollbar-thumb {
        background: #ccc; /* Цвет ползунка */
        border-radius: 40px; /* Скругление ползунка */
    }

    .menu::-webkit-scrollbar-thumb:hover {
        background: #aaa; /* Цвет ползунка при наведении */
    }

    /* Стили для Firefox */
    .menu {
        scrollbar-width: thin; /* Тонкий скроллбар */
        scrollbar-color: #ccc transparent; /* Цвет ползунка и трека */
    }

    .menu-item {
        cursor: pointer; /* Указатель при наведении */
        padding: 8px; /* Отступ в меню */
        margin-top: 20px;
        border-bottom: 1px solid #ccc; /* Разделитель между элементами */
        white-space: normal; /* Позволяет переносить текст на следующую строку */
    }

    .dropdown {
        display: none; /* Изначально скрыто */
        margin-top: 5px; /* Отступ сверху для выпадающего списка */
        padding-left: 10px; /* Отступ для вложенных элементов */
    }
    .dropdown-item {
        padding: 5px; /* Отступ для элементов выпадающего списка */
        white-space: normal; /* Позволяет переносить текст на следующую строку */
    }

    /*Стрелки меню */
    .arrow {
        display: inline-block;
        margin-left: 5px;
        transition: transform 0.3s;
        width: 1px; /* Уменьшение ширины стрелки */
        height:  1px; /* Уменьшение высоты стрелки */
        font-weight: normal; /* Уменьшение жирности */
        color: #777; /* Изменение цвета стрелки */
    }

    .dropdown {
        display: none;
    }

    .dropdown.show {
        display: block;
    }

    .arrow.up {
        transform: rotate(180deg);
    }


