/* основной экран */
body {
    background-color: #EFFBFF;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* стили для шапки и подвала */
.header, .footer {
    background-color: white;
    padding: 5px 15px;
}

/* стили для названия страниц */
h2, h5 {
    font-family: 'Jura', sans-serif;
    margin-left: 20px
}

/* стили для навигационных ссылок */
.nav-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #F7F7F7;
    border-radius: 20px;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

/* эффекты наведения на ссылки */
.nav-link:hover {
    background-color: #e0e0e0;
    text-decoration: none;
}

/* отключение выделения изображений */
img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* стили для подвала */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateY(0);
}

/* полный контейнер для центрированных элементов */
.full-width-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    text-align: center;
}

/* стили для гифки */
.styled-gif {
    width: 100%;
    max-height: calc(80vh - 50px);
    object-fit: cover;
    position: absolute;
    top: 0;
}

/* стиль для текста на главном экране с анимацией */
.equipment-description {
    margin-bottom: 130px;
    text-align: center;
    font-size: 50px;
    font-family: 'Jura', sans-serif;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    opacity: 1;
    animation: flyIn 0.6s forwards;
}

/* анимация появления текста */
@keyframes flyIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* видимость прехода на действующую вкладку */
.nav-link.active {
    font-weight: bold;
    color: black;
    background-color: #a8d9ff;
}
