.write-to-us {
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        padding: 30px;
        max-width: 700px;
        margin: 0 auto; /* Centers the form container */
        opacity: 0; /* Начальная непрозрачность */
        transform: translateY(20px); /* Перемещение вниз для эффекта появления */
        animation: fadeInUp 0.6s forwards; /* Применяем анимацию */
    }

    /* Глобальные стили для анимации */
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Styles for form groups */
    .form-group {
        margin-bottom: 3px;
    }

    /* Styles for labels */
    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    /* Styles for input fields */
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        font-size: 14px;
        transition: border-color 0.3s;
    }

    /* Focus effect on input fields */
    input[type="text"]:focus,
    input[type="tel"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border-color: #4A90E2;
    }

    /* Styles for textarea */
    textarea {
        height: 100px;
        resize: none; /* Prevent resizing */
    }

    /* Styles for the send button */
    .send-button {
        background-color: #4A90E2;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 16px;
    }

    .send-button:hover {
        background-color: #357ABD;
    }