.certificate-heading {
    margin-left: 20px;
}

.clickable-image {
    width: 100%; /* Полная ширина родительского элемента */
    height: auto; /* Пропорциональная высота */
    cursor: pointer;
}

.certificate-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.certificate-item {
    flex: 1; /* Чтобы каждый элемент занимал равное пространство */
    max-width: 320px; /* Установка максимальной ширины для контроля размера */
    box-shadow: 0 4px 8px rgba(0, 0, 0.3, 0.3);
}


/* Стили для изображений в режиме увеличения */
.certificate-item img:hover {
    transform: scale(1.05); /* Увеличение при наведении курсора */
    box-shadow: 0 4px 8px rgba(0, 0, 0.3, 0.3);
}


/* Стили модального окна */
#modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина экрана */
    height: 100%; /* Полная высота экрана */
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto; /* Отключаем прокрутку */
    align-items: center; /* Центр используем по вертикали */
    justify-content: center; /* Центр используем по горизонтали */
}


#modal-img {
    max-width: 80%; /* Ограничиваем ширину изображения */
    max-height: 80%; /* Ограничиваем высоту изображения */
    margin: -350px auto 50px auto;
    display: block;
}

#image-container {
    max-height: 80vh; /* Ограничиваем высоту контейнера для изображений до 80% высоты экрана */
    display: flex;
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: center; /* Центрируем элементы внутри контейнера */
    position: relative;
    width: 100%; /* Делаем контейнер шире */
    padding: 20px 20px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.prev,
.next {
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

