.button-container { /* Контейнер для кнопок */
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 100;
}

.nav-button { /* Стиль кнопок навигации */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4A90E2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 24px;
    width: 70px;
    height: 70px;
}

.nav-button:hover { /* Эффект при наведении на кнопки */
    background-color: #357ABD;
    transform: scale(1.05);
}

#text-content { /* Стиль текстового блока */
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: justify;
    margin: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#text-content:hover { /* Эффект при наведении на текстовый блок */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.image-container { /* Контейнер для изображений */
    display: flex;
    justify-content: center;
    margin: 20px 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-content { /* Стиль изображений */
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-content:hover { /* Эффект при наведении на изображения */
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
